@import url("fonts.css");
@import url("reset.css");
@import url("variables.css");
@import url("common.css");
@import url("header.css");
@import url("menu.css");
@import url("hero.css");
@import url("checkerboard.css");
@import url("card-grid.css");
@import url("footer.css");

body {
  font-family: SourceSansPro-Regular;
  position: relative;
  overflow: scroll;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.container {
  position: relative;
  overflow: hidden;
}

section {
  max-width: 1440px;
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  section {
    padding-left: 90px;
    padding-right: 90px;
  } 
}