:root {
  --black: #000000;
  --white: #ffffff;
  --lightest-grey: #f6f6f6;
  --light-grey: #e6e6e6;
  --medium-grey: #a8a8a8;
  --dark-grey: #707070;
  --darkest-grey: #111111;
  --blue: #0057b8;
  --sky-blue: #009CDE;
}